html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: "BAUHS";
  src: url("./BAUHS93.ttf") format("truetype");
}
@font-face {
  font-family: "FRABK";
  src: url("./FRABK.ttf") format("truetype");
}
@font-face {
  font-family: MyriadPro;
  src: url("./MyriadPro-Regular.otf") format("opentype");
}
body {
  margin: 0;
  font-family: "FRABK", Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  color: #0052a1;
  font-size: 1.5vw;
  overflow-x: hidden;
}
.top-banner {
  position: relative;
}
.banner {
  width: 100%;
  position: relative;
}
.logo {
  width: 50%;
  left: 25vw;
  top: 1.5vw;
  position: absolute;
}
.banner-btn-holder {
  width: 90%;
  left: 5vw;
  top: 12vw;
  height: 3vw;
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.back {
  width: 3.2vw;
  height: 2.9vw;
  background-image: url("./images/back.png");
  background-size: 100% 100%;
}
.back.center {
  margin: auto;
}
.back.left {
  margin-left: 6vw;
}
.back.right {
  margin-right: 6vw;
}
.back-holder {
  margin-top: 3vw;
}
.back-holder.fix-right-bottom {
  position: absolute;
  right: 5%;
  margin-top: 3vw;
}
.top-banner .dot {
  color: white;
  padding-right: 0.5vw;
}
.top-banner #about-us-btn,
.top-banner #yacht-management-btn,
.top-banner #crew-services-btn,
.top-banner #payment-btn,
.top-banner #contact-us-btn {
  text-decoration: none;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.2vw;
}

.about-us-graphic,
.yacht-mgmt,
.yacht-mgmt-graphic,
.crew-services,
.payment,
.contact-us,
.bottom {
  width: 100%;
  position: relative;
  z-index: 2;
}

.yacht-mgmt-graphic-2,
.yacht-mgmt-graphic-3,
.crew-services-graphic {
  width: 50%;
  position: relative;
  z-index: 1;
}
.center-text-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 40vw;
}
.center-text {
  margin: auto;
  padding: 10vw;
  text-align: justify;
  vertical-align: middle;
  /* font-size: x-large; */
}
.slide-up {
  margin-top: -3vw;
}
.block2 {
  width: 100%;
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 40vw;
  background-color: aqua;
}
.block2-text-wrapper {
  width: 70%;
  text-align: justify;
  vertical-align: middle;
}
.text2 {
  padding: 8vw 4vw 8vw 8vw;
  /* max-width: 1000px; */
  background-color: white;
  /* font-size:large; */
}
.sep {
  width: 100%;
  height: 0.5vw;
  background-color: rgb(42,169,203);
}

.dot {
  font-family: "BAUHS", Verdana, Geneva, Tahoma, sans-serif;
  color: #16b8d4;
}

.half-half {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.half-half-text-wrapper {
  width: 50%;
  vertical-align: middle;
}

.half-half-right-text {
  padding: 4vw;
  max-width: 1000px;
  background-color: white;
  text-align: left;
  /* font-size:large; */
}

.half-half-left-text {
  padding: 4vw;
  text-align: right;
  /* max-width: 1000px; */
  background-color: white;
  /* font-size:large; */
}


.rhombus-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
}
.rhombus {
  width: 8vw;
  height: 8vw;
  margin-top: -4vw;
  margin-bottom: -4vw;
  z-index: 10;
}

.break {
  width: 100%;
  height: 10vw;
}

form {
  width:80%;
  padding: 10vw 10vw 0 10vw;
  margin-top: -13vw;
  z-index: 10;
  position: relative;
}

.data {
  border-radius: 3vw;
  width: 30vw;
  border: 0.1vw solid aqua;
  margin-top: 1vw;
  padding: 1vw 2vw;
  color: #0B3D91;
}
.data:focus {
  border: 0.1vw solid #0B3D91;
}
.form-break {
  width: 100%;
  height: 5vw;
}

textarea.data {
  height: 30vw;
  width: 80vw;
  resize: none;
}
.input-title {
  font-family: 'FRABK';
  padding-left: 1vw;
  font-size: 2vw;
}

.center-wrapper {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  background-color: transparent;
  border-color: transparent;
  color: #0B3D91;
  font-size: 2vw;
  vertical-align: middle;
}
.responsive-small {
  display: none;
}